*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 800px;
}
body * {
  transform-style: preserve-3d;
}

.scene {
  position: relative;
  transform: rotateX(calc(var(--y, 0) * -40deg)) rotateY(calc(var(--x, 0) * 180deg));
}

.floor {
  position: absolute;
  inset: -1000px;
  background-color: #af5b4aa9;
  background-image: radial-gradient(closest-side, transparent 60%, rgb(0, 0, 0)),
                    radial-gradient(rgb(0, 0, 0), 35%, transparent),
                    repeating-linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.0666666667), transparent 8px),
                    repeating-linear-gradient(60deg, transparent 0, rgba(0, 0, 0, 0.0666666667), transparent 20px),
                    repeating-linear-gradient(120deg, transparent 0, rgba(0, 0, 0, 0.0666666667), transparent 8px);
  transform: rotateX(90deg) translateZ(-200px);
}

.heart {
  position: absolute;
  left: 50%;
}
.heart::after {
  content: "";
  position: absolute;
  inset: -50px;
  background-color: var(--color, yellow);
  -webkit-clip-path: path("m 50 25 a 25 25 0 0 1 50 0 c 0 25 -50 50 -50 75 c 0 -25 -50 -50 -50 -75 a 25 25 0 0 1 50 0");
          clip-path: path("m 50 25 a 25 25 0 0 1 50 0 c 0 25 -50 50 -50 75 c 0 -25 -50 -50 -50 -75 a 25 25 0 0 1 50 0");
}

.leafs {
  position: absolute;
  top: 200px;
}
.leafs i {
  position: absolute;
  bottom: 100%;
  width: 8px;
  height: 50%;
  background-color: rgb(18, 77, 15);
  transform-origin: bottom;
  transform: rotateX(var(--rx));
}
.leafs > i:nth-child(1) {
  left: -2px;
  height: 57px;
  rotate: y 0deg;
  --rx: 37deg;
  --color: hsl(120, 43%, 16%);
}
.leafs > i:nth-child(2) {
  left: -2px;
  height: 85px;
  rotate: y 30deg;
  --rx: 24deg;
  --color: hsl(120 50% 22);
}
.leafs > i:nth-child(3) {
  left: -2px;
  height: 84px;
  rotate: y 60deg;
  --rx: 34deg;
  --color: hsl(120 50% 20);
}
.leafs > i:nth-child(4) {
  left: -2px;
  height: 73px;
  rotate: y 90deg;
  --rx: 12deg;
  --color: hsl(120 50% 24);
}
.leafs > i:nth-child(5) {
  left: -2px;
  height: 48px;
  rotate: y 120deg;
  --rx: 14deg;
  --color: hsl(120 50% 22);
}
.leafs > i:nth-child(6) {
  left: -2px;
  height: 48px;
  rotate: y 150deg;
  --rx: 16deg;
  --color: hsl(120 50% 25);
}
.leafs > i:nth-child(7) {
  left: -2px;
  height: 72px;
  rotate: y 180deg;
  --rx: 32deg;
  --color: hsl(120 50% 22);
}
.leafs > i:nth-child(8) {
  left: -2px;
  height: 46px;
  rotate: y 210deg;
  --rx: 13deg;
  --color: hsl(120 50% 24);
}
.leafs > i:nth-child(9) {
  left: -2px;
  height: 65px;
  rotate: y 240deg;
  --rx: 27deg;
  --color: hsl(120 50% 22);
}
.leafs > i:nth-child(10) {
  left: -2px;
  height: 69px;
  rotate: y 270deg;
  --rx: 28deg;
  --color: hsl(120 50% 17);
}
.leafs > i:nth-child(11) {
  left: -2px;
  height: 77px;
  rotate: y 300deg;
  --rx: 18deg;
  --color: hsl(120 50% 24);
}
.leafs > i:nth-child(12) {
  left: -2px;
  height: 56px;
  rotate: y 330deg;
  --rx: 24deg;
  --color: hsl(120 50% 16);
}
.leafs .heart {
  transform: rotate(180deg) translateY(25px);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3333333333));
}
.leafs .heart::after {
  background-image: repeating-linear-gradient(45deg, transparent 0, rgba(0, 0, 0, 0.3333333333), transparent 20px), linear-gradient(90deg, transparent 40%, rgba(0, 0, 0, 0.2), transparent 60%), repeating-linear-gradient(-45deg, transparent 0, rgba(0, 0, 0, 0.3333333333), transparent 20px);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position-x: 0%, 50%, 100%;
}

.flower {
  position: absolute;
  top: 200px;
}
.flower i {
  position: absolute;
  bottom: 100%;
  width: 4px;
  height: 60px;
  background-color: rgb(36, 41, 20);
  transform-origin: bottom;
  animation: flower 5s infinite ease-in-out alternate;
}
@keyframes flower {
  from {
    transform: rotateX(-4deg);
  }
  to {
    transform: rotateX(4deg);
  }
}
.flower .heart:nth-child(1) {
  transform: rotateY(0deg) rotateX(30deg) translateY(-40px);
}
.flower .heart:nth-child(2) {
  transform: rotateY(40deg) rotateX(15deg) translateY(-40px);
}
.flower .heart:nth-child(3) {
  transform: rotateY(80deg) rotateX(23deg) translateY(-40px);
}
.flower .heart:nth-child(4) {
  transform: rotateY(120deg) rotateX(16deg) translateY(-40px);
}
.flower .heart:nth-child(5) {
  transform: rotateY(160deg) rotateX(20deg) translateY(-40px);
}
.flower .heart:nth-child(6) {
  transform: rotateY(200deg) rotateX(5deg) translateY(-40px);
}
.flower .heart:nth-child(7) {
  transform: rotateY(240deg) rotateX(28deg) translateY(-40px);
}
.flower .heart:nth-child(8) {
  transform: rotateY(280deg) rotateX(27deg) translateY(-40px);
}
.flower .heart:nth-child(9) {
  transform: rotateY(320deg) rotateX(14deg) translateY(-40px);
}
.flower .heart:nth-child(10) {
  transform: rotateY(360deg) rotateX(25deg) translateY(-40px);
}
.flower .heart:nth-child(11) {
  transform: rotateY(400deg) rotateX(15deg) translateY(-40px);
}
.flower .heart:nth-child(12) {
  transform: rotateY(440deg) rotateX(22deg) translateY(-40px);
}
.flower .heart::after {
  background-image: radial-gradient(rgba(0, 0, 0, 0.133), transparent), linear-gradient(transparent, black);
}

i::after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  rotate: y 90deg;
}